#project-container {
  margin-top: 4rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#project-container h2 {
  color: #383838;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 0;
}

#project-container p {
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: 0;
}

#project-content {
  width: 70%;
  height: auto;
  display: flex;
  padding: 2rem;
  gap: 2em;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#outer-proj-cont {
  max-width: 20em;
  max-height: 25em;
  background-color: #efefef;
  margin-top: 2em;
  padding: 1.5em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2em;
}

#inner-project-container {
  text-align: start;
  padding: 2rem;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inner-project-container:hover {
  cursor: pointer;
} 

#inner-project-container img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

#inner-project-container h3 {
  margin: 0;
  margin-top: 1rem;
  text-align: left;
  font-size: large;
}

#inner-project-container p {
  font-size: medium;
  margin: 0;
  text-align: center;
  font-weight: normal;
  color:rgb(64, 64, 64) 
}

@media screen and (max-width: 1000px) {
  #project-container h2 {
    font-size: 35px;
  }
  #project-container p {
    font-size: 18px;
  }
  #outer-proj-cont {
    padding: 0;
  }
}
