#project-container {
  margin-top: 4rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#project-container h2 {
  color: #383838;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 0;
}

#project-container p {
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: 0;
}

#project-content {
  width: 70%;
  /* border-radius: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); */
  /* border: 1px solid black; */
  height: auto;
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#outer-proj-cont {
  background-color: #efefef;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

#inner-project-container {
  text-align: start;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inner-project-container img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

#inner-project-container h3 {
  margin: 0;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.4rem;
}

#inner-project-container p {
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  #project-container h2 {
    font-size: 35px;
  }
  #project-container p {
    font-size: 18px;
  }
}
