#skill-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#skill-container h2 {
  color: #383838;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 0;
}

#skill-container p {
  text-align: center;
  font-weight: 200;
  font-size: 25px;
  margin-top: 0;
}

#skill-content {
  padding-right: 20px;
  padding-left: 20px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#frontend, .other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 25%;
  height: 20%;
  box-shadow: 0px 0px 500px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border: 1px solid green; */
}

#frontend #end-head {
  background-color: rgb(14, 147, 146);
  color: whitesmoke;
}

#backend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  width: 25%;
  height: 20%;
  box-shadow: 0px 0px 500px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border: 1px solid green; */
}

#backend span {
  color: rgb(14, 147, 146);
}

#end-head {
  padding: 20px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #d7d7d7;
}

#end-head span {
  font-size: 20px;
  font-weight: 500;
  /* text-decoration: wavy; */
}

#skill-content li {
  margin: 40px;
}

#skill-content p {
  text-align: center;
  margin: 0;
  font-weight: 200;
  font-size: medium;
}

#skill-content h6 {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: larger;
}

@media screen and (max-width: 1000px) {
  #skill-container h2 {
    font-size: 35px;
  }
  #skill-container p {
    font-size: 18px;
  }
  #skill-content {
    flex-wrap: wrap;
  }
  #frontend,
  #backend {
    font-size: 14px;
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }
  #frontend p,
  #backend p {
    font-size: 14px;
  }
}
